doctype html
html
  head
    title Quarry
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(type="text/css", media="screen", rel="stylesheet", href="/default.css")
    block css
  body
    block content
