extends layout.jade


block content
  - var query = ( body.hasOwnProperty('query') ) ? body.query : '';

  h2 Raw query
  form(action="/q", method="POST", name="rawQuery")
    textarea(name="query", cols="90", rows="15") #{ query }
    br
    input(type="submit", value="Submit")
  br
  if ( err )
    p= err

  hr
  if ( results )
    ul
    each result, i in results
      li
        p= result
